    .container {
display:grid;
border: 3px dashed blue;
height: 100vh;
grid-template-columns: repeat(3, 1fr);
grid-template-areas:
"item_1 item_2 item_4"
"item_1 item_3 item_5"
"item_1 item_3 item_5"
}

#item1 {
border:1px solid black;
width:100%;
background-color: turquoise;
grid-area:item_1;
}
.item2 {
    border:1px solid red;
width:100%;
background-color: brown;
grid-area:item_2;
} 
 .item3 {
    border:1px solid orange;
    width:100%;
    background-color: cadetblue;
    grid-area:item_3;
 }
.item4 {
    border:1px solid purple;
    width:100%;
    background-color: darkgreen;
grid-area:item_4;
}
.item5{
    border:1px solid darkmagenta;
    width:100%;
    background-color: indigo;
    grid-area:item_5;
}
